 .container{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px;
}

.txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.txt h3{
    color: var(--Primary, #343D33);
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.3px;
    text-transform: uppercase;
}

.txt p{
    color: var(--Gray-1, #333);
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.links{
    display: flex;
    align-items: center;
    gap: 40px;
}


