.container{
    padding: 15px 30px;
    background: none;
    color: var(--Primary, #475F45);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    border: 2px solid var(--Primary, #475F45);
}